.container{
    background-color: aqua;
}
.header-full
{
    background: #fff;
    position: relative;
    z-index: 999;
    transition: all .5s;
}
.container-inner
{
    width: 1170px;
}
.container-inner::before{
    display: table;
    content: "";
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.row1{
    width: 25%;
}
.row2{
    width: 75%;
}